:root {
    --lgutter: 160px;
    --lgutterrev: -160px;
    --polepadl: 180px;
    --polepadl2: 120px;
    --dtabpadl: 170px;
    --rgutter: 80px;
    --crleft: 888px;
    --bminwidth: 1320px;
}
*a {
    text-decoration: none;
}
.b_content{
    margin-top: 30px;
}
body {
    min-width: 1177px;
    font: 14px/normal 'Roboto',Helvetica, Sans-Serif;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #666;
    display: block;
}
/* le header */
header {
    display: block;
}
#b_header {
    position: static;
    margin-bottom: 1px;
    min-width: 1177px;
    z-index: 7;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ececec;
    padding: 18px 0 0 0;
    background: #fff;
    font: 14px/normal 'Roboto',Helvetica,Sans-Serif;
}
/* Entame du côté formulaire */
form {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
#b_header #sb_form {
    margin-right: 10px;
    display: inline-block;
}
/* le logo qui fait partit de la partie formulaire */
a, #b_header a, #b_header a:hover {
    text-decoration: none;
}
a {
    color: #1a0dab;
}
a, a * {
    touch-action: manipulation;
}
a:-webkit-any-link {
    cursor: pointer;
}
.b_logoArea {
    text-align: right;
    width: 140px;
    height: 40px;
    margin: 0 20px 0 0;
    vertical-align: top;
    display: inline-block;
}
.b_logo {
    text-align: left;
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 116px;
    height: 18px;
    margin-top: 15px;
    text-indent: 0;
    overflow: hidden;
    direction: ltr;
    transform: none;
    font-family: 'Roboto', Helvetica, Sans-Serif;
}
.b_logo::after {
    position: relative;
    display: inline-block;
    content: url(https://www.bing.com/rp/i3t3vGbFsQ-XpUOCob6i88omBUs.png);
    transform-origin: -594px -80px;
    transform: scale(.5);
}
h1{
    font: 13px/1.2em 'Roboto',Sans-Serif;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#b_header .b_searchboxForm {
    border-radius: 24px;
}
.b_searchboxForm {
    position: relative;
    font: 18px/normal 'Roboto',Helvetica,Sans-Serif;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 2px 4px 1px rgb(0 0 0 / 9%);
    border-radius: 6px;
    border-left: 1px solid transparent;
    border-right: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    display: inline-block;
    background-color: #fff;
    transition: .3s
}
.b_searchboxForm:hover{
    box-shadow: 1px 1px 7px rgb(27, 27, 27);
}
#b_header .hasmic.hassbi .b_searchboxForm .b_searchbox.b_softkey {
    width: 461px;
}
#b_header .b_searchbox {
    border-radius: 24px;
}
input{
    font: inherit;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
}
.b_searchbox {
    -webkit-appearence: none;
    font-size: 16px;
    margin: 1px 0 1px 1px;
    padding: 0 10px 0 19px;
    border: 0;
    max-height: none;
    outline: none;
    box-sizing: border-box;
    height: 44px;
    vertical-align: top;
    background-color: transparent;
    left: 20px;
}
/* la croix qui disparait */
#sb_clt .sb_clrhov {
    display: inline-block;
    overflow: visible;
    top: 0;
    margin: 3px 0;
    vertical-align: middle;
}
.sb_clrhov {
    visibility: hidden;
    position: relative;
    direction: ltr;
    display: inline-block;
}
#sb_clt #sw_clx {
    padding: 9px;
    height: 22px;
    display: inline-block;
    line-height: 20px;
}
body.b_sbText #b_header .b_searchboxForm:hover .sb_clrhov {
    visibility: visible;
}
.sw_close {
    display: inline-block;
    position: relative;
    overflow: hidden;
    direction: ltr;
    height: 12px;
    width: 12px;
}

.droite{
	background: white;
	box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
	font-size: 1.1em;
	padding: 15px;
	padding-left:900px;
	margin-top:-51px;
}
.sw_close:after{
    display: inline-block;
    transform: scale(.5);
    transform-origin: -214px -64px;
    content: url(https://www.bing.com/rp/i3t3vGbFsQ-XpUOCob6i88omBUs.png);
    position: relative;
}
/* Le Clavier dans le formulaire */
#b_header #vkeyIcon {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align: top;
    margin: 3px 0;
    padding: 11px 9px;
    background-origin: content-box;
    width: 20px;
    height: 18px;
}
#vkeyIcon {
    padding: 0 0 0 58px;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 2px;
}
*[data-sbtip] {
    position: relative;
}
#b_header #vkeyIcon :not(svg).sb_icon {
    width: 20px;
    height: 18px;
}
#b_header #vkeyIcon :not(svg).sb_icon:after {
    background-image: url(https://www.bing.com/rp/i3t3vGbFsQ-XpUOCob6i88omBUs.png);
    background-position: 0 -80px;
    width: 40px;
    height: 36px;
    transform: scale(.5);
    content: "";
    position: absolute;
    top: 5px;
    right: 136px;
}
/* le micro */
#b_header .hasmic .mic_cont.partner {
    margin: 3px 0;
    vertical-align: middle;
}
.hasmic .mic_cont.partner {
    display: inline-block;
}
.mic_cont.icon.partner {
    background: transparent;
    padding: 0;
}
#b_header .mic_cont.partner .sb_icon {
    font-size: 0;
    height: 18px;
    width: 18px;
}
.mic_cont {
    cursor: pointer;
    display: inline-block;
}
#b_header .mic_cont.partner .mic_icon {
    margin: 11px 9px;
}
.mic_cont #vs_mic_icon:not(svg) {
    background-image: url(https://www.bing.com/rp/i3t3vGbFsQ-XpUOCob6i88omBUs.png);
    background-size: 821px 58px;
    background-repeat: no-repeat;
    background-position: -22px 0;
    z-index: 1;
    float: left;
}
.mic_cont .ovr_cont {
    width: 36px;
    height: 40px;
}
#header .mic_cont.partner .b_icon {
    width: 36px;
    z-index: 4;
}
.mic_cont.icon .b_icon {
    visibility: visible;
}
.mic_cont .b_icon {
    position: relative;
    height: 100%;
}
/* recherche a partir d'une image */
#b_header .b_searchboxForm #sbiarea {
    margin: 3px 0;
    vertical-align: middle;
}
.hassbi #sbiarea {
    display: inline-block;
    
}
*[data-sbtip] {
    position: relative;
}
#b_header .b_searchboxForm #sb_sbi {
    padding: 11px 9px;
    font-size: 0;
}
#sb_sbi {
    display: inline-block;
    cursor: pointer;
}
img#sbi_b {
    vertical-align: -2px;
    height: 18px;
    width: 18px;
    
}
img#sbi_b:not(svg) {
    background-image: url(https://www.bing.com/rp/i3t3vGbFsQ-XpUOCob6i88omBUs.png);
    background-size: 821px 58px
}
.hassbi #sbicom {
    position: absolute;
    display: block;
}
.sbidialog {
    display: none;
}
/* la loupe de recherche */
#b_header .b_searchboxForm #sb_search {
    position: relative;
    display: inherit;
    vertical-align: middle;
    border-radius: 50%;
    margin: 3px 7px 3px 0;
}
#sb_go_par {
    display: inline-block;
}
#b_header .b_searchboxForm #sb_search #b_icon_spyglass:not(svg) {
    background-image: url(https://www.bing.com/rp/i3t3vGbFsQ-XpUOCob6i88omBUs.png);
    background-position: -88px 0;
    width: 36px;
    height: 36px;
    transform: scale(.5);
    top: 2px;
    left: 2px;
}
#b_header .b_searchboxForm #sb_search #b_icon_spyglass {
    position: absolute;
    cursor: pointer;
    pointer-events: none;
}
#b_header .b_searchboxForm .b_searchboxSubmit {
    margin: 0;
    transform: none;
    background-image: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.b_searchboxForm .b_searchboxSubmit {
    border-color: #fff;
}
.b_searchboxSubmit {
    background-repeat: no-repeat;
    cursor: pointer;
    text-indent: -99em;
    border-width: 0;
    border-style: solid;
    background-position: -88px 0;
}
input {
    font: inherit;
    font-size: 100%;
    writing-mode: horizontal-tb;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
    margin: 0em;
    position: relative;
    left: -45px;

}
input[type="hidden " i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: initial;
    padding: initial;
    border: initial;
    border-color: initial;
    border-radius: initial;
}
#b_header #sw_as {
    top: 1px;
}
#sw_as {
    width: auto;
    position: relative;
    z-index: 6;
    color: #444;
}
/* boutton de connexion et menu deroulant */
#id_h {
    content-visibility: visible;
    display: block;
    position: relative;
    float: right;
    text-align: right;
    margin: 0;
    line-height: 50px;
    right: 40px;
}
/* boutton de connexion */
#id_h #id_l {
    margin-right: 0;
    display: inline-block;
}
.id_button {
    line-height: 50px;
    height: 50px;
    margin: 0 8px;
    vertical-align: top;
}
.id_button:visited{
    color: #666;
}
.cbtn:hover {
    text-decoration: none;
}
.cbtn input {
    height: 32px;
    -webkit-appearence: none;
    border-radius: 2px;
    border: 1px solid #ddd;
    min-width: 50px;
    max-width: 100%;
    line-height: 30px;
    padding: 0 15px;
    display: inline-block;
    font-size: inherit;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
    height: 32px;
    text-align: middle;
}
.cbtn input:focus, .cbtn input:active {
    background: #ececec;
    color: #111;
    border-color:#ccc;
    /* -webkit-box-shadow: none; */
}
.cbtn input:hover{
    background-color: #f9f9f9;
    color: #111;
    border-color: #ccc;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0 1px 2px 0 rbg(0 0 0 / 10%);
}
.btnsearch {
    position: relative;
    display: inline-block;
    top: -50px;
    font-size: 22px;
    left: -4px;
}
#b_header .b_scopebar {
    margin-right: 20px;
    background: none;
    margin-bottom: 0;
    overflow-y: inherit;
}
body .b_scopebar {
    border-bottom-width: 1px;
}
.b_scopebar {
    line-height: 30px;
    padding: 0;
    margin: 7px 0 0 160px;
    border-bottom: none;
    color: #444;
}
.b_scopebar ul {
    height: 39px;
    overflow-y: hidden;
}
.b_scopebar li {
    vertical-align: top;
    line-height: 30px;
    padding: 3px 0;
    margin: 0 12px;
    font-size: 11px;
    letter-spacing: initial;
    display: inline-block;
    font-size: 14px;
}
.b_scopebar li:hover:not(.b_active) {
    border-bottom: 3px solid #ccc;
}

/* la classe active */
.b_scopebar .b_active {
    border-bottom: 3px solid #00809d;
    font-weight: bolder;
}
.b_active a:hover {
    color: #666;
}
ul {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
.b_scopebar li a {
    text-decoration: none;
    color: #444
}

#b_header .b_scopebar #fltIdtCon {
    display: block;
}
#fltIdtCon {
    position: absolute;
    right: 32px;
    height: 30px;
    bottom: 7px;
    font-size: 13px;
    line-height: normal;
    display: none;
    top: 84px;
    right: 150px;
}
#fltIdtCon span.ftrBRF {
    float: none;
    vertical-align: middle;
}
.ftrBRF {
    display: inline-block;
}
#fltIdtCon ul.ftrUl {
    margin-left: 0;
    overflow: visible;
    height: auto;
}
.ftrUl {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#fltIdtCon li.ftrLi {
    display: block;
    line-height: normal;
    margin: 0;
    padding: 0;
    border: none;
}
.ftrLi {
    float: left;
    display: block;
    position: relative;
    height: 30px;
    white-space: nowrap;
}
.ftrH_MmVert {
    cursor: pointer;
    font-size: 13px;
    display: inline-block;
    margin-right: 1px;
    padding-right: 18px;
}
.ftrH_MmVert:hover,
.ftrH_MmVert:focus {
    background: #eee;
}
.ftrH_MmVert:focus {
    outline: none;
}
.ftrTB {
    height: 16px;
}
.ftrBRF .ftrP11 {
    font-weight: bold;
    color: #444;
}
.sw_ddbk {
    display: inline-block;
    zoom: 1;
    height: 4px;
    width: 7px;
    position: relative;
    overflow: hidden;
    direction: ltr;
}
.sw_ddbk::after {
    transform-origin: -532px -64px;
    display: inline-block;
    transform: scale(.5);
    content: url(https://www.bing.com/rp/i3t3vGbFsQ-XpUOCob6i88omBUs.png)
}

#fltIdtCon span#fltIdt {
    vertical-align: middle;
    display: inline-block;
}
#fltIdtCon {
    position: absolute;
    right: 90px;
    height: 30px;
    bottom: 7px;
    font-size: 13px;
    line-height: normal;
    display: none;
}
#fltIdtLnk {
    display: inline-block;
    line-height: 18px;
    cursor: pointer;
    padding: 0 8px;
    color: #444;
}
#fltIdtLnk .fltIdtTit {
    display: inline-block;
    padding: 0 5px;
    vertical-align: 1px;
}
.filter {
    position: relative;
    right: -41px;
    top: -14px;
    font-size: 16px;
}
.fltIdtTit {
    position: relative;
    right: 12px;
}

/* le corps du site */
#rfPaneIn {
    margin-top: 0;
    transition: margin .3s ease-in-out;
}
#rfPane .touchQuery {
    margin-bottom: 12px;
    margin-top: 12px;
    padding: 0 17px;
    box-sizing: border-box;
}
.carousel, .carousel a {
    color: #111;
}
.carousel {
    position: relative;
    background: #4a4a4a;
}
#rfCarousel .carousel-controls {
    height: 48px;
}
.touchQuery .carousel .carousel-controls {
    background: #fff;
}
.carousel .carousel-controls {
    overflow: visible;
}
.carousel-controls {
    white-space: nowrap;
    overflow: hidden;
}
.carousel-content {
    display: inline-block;
    width: 100%;
}
.touchQuery .carousel .carousel-scroll-wrapper {
    margin-bottom: -16px;
}
.carousel .carousel-scroll-wrapper {
    margin-top: -4px;
    padding-top: 4px;
    margin-bottom: -4px;
    padding-bottom: 4px;
}
.carousel-scroll-wrapper {
    padding-bottom: 8px;
}
.carousel-scroll-wrapper {
    overflow: hidden;
}
.carousel .carousel-scroll-content {
    margin-top: -4px;
    padding-top: 4px;
    margin-bottom: -4px;
    padding-bottom: 4px;
}
.carousel-scroll-content {
    position: relative;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
}
.carousel .items {
    white-space: nowrap;
    float: left;
}
.touchQuery .carousel .items {
    background: #262626;
}
.item {
    border: thin #00809d solid;
    background: #fff;
    padding-left: 0;
    margin: 8px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid #ddd;
}
/* Première bannière d'image */
.firstPart {
    display: block;
    width: 1596pxpx;
    height: 103px;
    margin: 0px;
    padding: 4px 0 0 4px;

}
.FirstPartzone {
    height: 48px;
    width: 1596pxpx;
}
.element {
    display: inline-block;
   border: thin #00809d solid;
   border-radius: 34px;
   height: 46px;
   margin-right: 7px;
   cursor: pointer;
}
.img>img{

    vertical-align: middle;
    border-radius: 50%;
    float: left;
    margin: 2px;
    bottom: -9px;
    margin-left: 2px;
    position: relative;
    bottom: 0px;
}
.writing {
text-align: left;
display: table-cell;
padding-top: 2px;
padding-bottom: 2px;
text-shadow: none;
vertical-align: middle;
position: relative;
top: 5px;
}


.contenair1{
    background: url('./images/OIP4.jpg')no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-radius: 7px;
    margin: 15px;
    border: 1px solid rgb(158, 155, 155);
    box-shadow: 1px 2px 3px 4px rgb(230, 230, 230);
    
    
}

.titr {
    height:30px;
    width: 290px;
    background-color: rgb(255, 255, 255);
    margin-top: -45px;
    margin-left:15px;
    border-radius: 0 0 7px 7px;
    padding-left: 10px;
    color: black;

}
.titre{
    opacity: 0;
    color: white;
}
.titre:hover{
    opacity: 1;
    padding-top: 150px;
    box-shadow: inset 0 -20px 15px -10px rgb(38, 38, 40);
    width: 300px;
    height: 70px;
}
.bloc1{
    display:flex;
}

.contenair2{
    background: url('./images/OIP5.jpg')no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-radius: 7px;
    margin: 15px;
    border: 1px solid rgb(158, 155,155);
    box-shadow: 1px 2px 3px 4px rgb(230,230,230);

    }

    
.contenair3{
    background: url('./images/OIP6.jpg')no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-radius: 7px;
    margin: 15px;
    border: 1px solid rgb(158,155,155);
    box-shadow: 1px 2px 3px 4px rgb(230, 230,230);
}

.contenair4{
    background: url('./images/OIP7.jpg')no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-radius: 7px;
    margin: 15px;
    border: 1px solid rgb(158,155,155);
    box-shadow: 1px 2px 3px 4px rgb(230, 230,230);
   
}

.contenair5{
    background: url('./images/téléchargement8.jpg')no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-radius: 7px;
    margin: 15px;
    border: 1px solid rgb(158,155,155);
    box-shadow: 1px 2px 3px 4px rgb(230, 230,230);
}

.contenair6{
    background: url('./images/téléchargement9.jpg')no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-radius: 7px;
    margin: 15px;
    border: 1px solid rgb(158,155,155);
    box-shadow: 1px 2px 3px 4px rgb(230, 230,230);
}

.contenair7{
    background: url('./images/téléchargement10.jpg')no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-radius: 7px;
    margin: 15px;
    border: 1px solid rgb(158,155,155);
    box-shadow: 1px 2px 3px 4px rgb(230, 230,230);
}

.contenair8{
    background: url('./images/téléchargement11.jpg')no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-radius: 7px;
    margin: 15px;
    border: 1px solid rgb(158,155,155);
    box-shadow: 1px 2px 3px 4px rgb(230, 230,230);
}

.contenair9{
    background: url('./images/téléchargement13.jpg')no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-radius: 7px;
    margin: 15px;
    border: 1px solid rgb(158,155,155);
    box-shadow: 1px 2px 3px 4px rgb(230, 230,230);
}

.contenair10{
    background: url('./images/téléchargement14.jpg')no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-radius: 7px;
    margin: 15px;
    border: 1px solid rgb(158,155,155);
    box-shadow: 1px 2px 3px 4px rgb(230, 230,230);
}
.contenair11{
    background: url('./images/téléchargement15.jpg')no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-radius: 7px;
    margin: 15px;
    border: 1px solid rgb(158,155,155);
    box-shadow: 1px 2px 3px 4px rgb(230, 230,230);
}

.contenair12{
    background: url('./images/téléchargement16.jpg')no-repeat;
    background-size: cover;
    width: 300px;
    height: 250px;
    border-radius: 7px;
    margin: 15px;
    border: 1px solid rgb(158,155,155);
    box-shadow: 1px 2px 3px 4px rgb(230, 230,230);
}
#rond{
    width:160px;
    height:70px;
    border-radius:50px;
    border:2px solid #afc0c7;
    margin-left:0px;
    margin-top:5px;
    }
    
   #rond a .monté{
      margin-left:80px;
      margin-top:-65px;
      color:black;
      padding-top:1px;
      }
    
    #rond img{
     margin-left:6px;
     margin-top:3px;
     width:60px;
     border-radius:100%;
     border:0.1px solid gray;
     }
     a {
        text-decoration: none;
        color: black;
    
    }




 
